<!--
File name: COMP229-F2022 MidTerm(301157840)
Author's name: Hyunjin Park
Student ID: 301157840
Web App name: https://midterm-229.herokuapp.com/cars
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
