<!--
File name: COMP229-F2022 MidTerm(301157840)
Author's name: Hyunjin Park
Student ID: 301157840
Web App name: https://midterm-229.herokuapp.com/cars
-->

<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
       
            <h2 class ="message">Welcome to <%= title %></h2>
        </div>
      </div>
      <div class="car">
      <img
        src = "/Assets/images/car1.jpg"
        alt = "car_picture"
         class = "car_image1"
      /> 
      
    </div>

<% include ../partials/footer.ejs %>


